*.iml
.android-sdk-home
.codex-home
.gradle
.gradle-user-home
.kotlin-home
local.properties
.DS_Store
.trae
.androidpe
.claude
.idea/
/build
build/
/captures
.externalNativeBuild
/release
/tmp
node_modules/
/app/app
/app/google
/app/gradle.properties
package-lock.json
.kotlin/
.cxx
.vscode
*.hprof
.docs
.workbuddy/
/gradle/gradle-daemon-jvm.properties
.learn/
